@import url("base.css");
@import url("fonts.css");


html::-webkit-scrollbar {
	/* Chrome, Safari, Opera */
	display: none;
}

html {
	overflow-x: hidden;
	-ms-overflow-style: none;
	scrollbar-width: none;
	scroll-behavior: smooth;
}